 // Sass variables:
 @use "base";

/*
 * #profile-image selects the hexagon.
 */
#profile-image {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
#profile-name selects the text (name) underneath the hexagon.
*/
#profile-name {
  color: base.$white;
}

/*
#main-header selects the portion of the web page that is orange (including when it gets manipulated
through media queries).
*/
#main-header {
  display: flex;
  @include base.xy-align;
  align-items: center;
  padding-top: 4em;
  height: 400px;
  background-color: base.$header-background-color; 
  background-image: url('../../images/old-map.png');
}

/*
.last-name selects the last name underneath the hexagon.
*/
.last-name {
  font-weight: base.$header-last-name-font-weight;
}