// Sass variables:
@use "base";

/*
#tweet-button selects the button that is used to submit a new tweet.
*/
#tweet-button {
  font-family: base.$font-stack-logo;
  background-color: base.$blue-accent;
  border: none;
  color: base.$white;
}

/*
#new-tweet-form selects the area in which you write a new tweet,
contains the "TWEET" button, and the counter of characters.
*/
#new-tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*
#character-tracker selects the container which contains the
number that tracks the number of characters in a new tweet (initially 140).
*/
#character-tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
#tweet-text selects the area where you type out your new tweet.
*/
#tweet-text {
  border: none;
  outline: none;
  resize: none;
  background-color: base.$general-background-color;
  border-bottom: solid 3px base.$grey-accent;
  padding-top: 1.2em;
}

/*
#new-tweet-question selects the "What are you humming about?" text.
*/
#new-tweet-question {
  font-weight: base.$tweet-question-font-weight;
  color: base.$grey-accent;
}

/*
.new-tweet selects the area in which you submit a new tweet. Essentially
the same as the #new-tweet-form selector, but .new-tweet is the parent.
*/
.new-tweet {
  width: 100%;
}

/*
.counter selects the number that tracks the number of characters in a new tweet.
*/
.counter {
  font-family: base.$font-stack-logo;
  color: base.$grey-accent;
}

/*
.not-hidden selects the error message upon submitting an invalid tweet.
*/
.not-hidden {
  color: base.$red;
  border-style: solid;
  border-color: base.$red;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
}