// Sass variables:
@use "base";

/*
Desktop display media query.
*/
@media only screen and (min-width: 850px) {
  /*
  #main-header selects the portion of the web page that is orange (including when it gets manipulated
  through media queries).
  */
  #main-header {
    float: left;
    width: 25%;
    margin-left: 2em;
    margin-top: 7.75em;
    padding-top: 0em;
  }

  /*
  nav selects the nav element which contains the TWEETER logo, "Write a new tweet"
  text, and the double down arrow icon.
  */
  nav {
    background-color: base.$blue-accent;
  }

  /*
  main selects the container that contains the new tweet form and posted tweets.
  */
  main {
    float: right;
    width: 50%;
    margin-right: 2em;
    margin-top: 6.75em;
  }
}