// Sass variables:
@use "base";

/*
article selects all the tweets that have been posted.
*/
article {
  display: flex;
  flex-direction: column;
  border: solid 3px base.$grey-accent;
  margin-top: 1em;
}

/*
article:hover attaches the following styling on all the tweets that have been posted.
*/
article:hover {
  box-shadow: 5px 5px;
  color: base.$tweeted-container-accent;
}

/*
article.tweet header selects the top portion of all the tweets that have been posted
(e.g., the horizontal area that contains the face avatar, name, and @handle).
*/
article.tweet header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.7em;
}

/*
article.tweet header selects the bottom portion of all the tweets that have been posted
(e.g., the horizontal area that contains the age of the tweet and the flag, reshare, and heart icons).
*/
article.tweet footer {
  display: flex;
  justify-content: space-between;
}

/*
article.tweet div selects all its nested div elements (specifically, div elements containing
the face avatar & name, @handle, age of the tweet, and the icons on the bottom right of a tweet).
*/
article.tweet div {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/*
.tweeted-avatar selects the face avatar of all the tweets that have been posted.
*/
.tweeted-avatar {
  margin-left: 0.7em;
  margin-right: 0.2em;
  color: base.$grey-accent;
}

/*
.tweeted-name selects the name beside the face avatar of all the tweets that have been posted.
*/
.tweeted-name {
  color: base.$grey-accent;
}

/*
.tweeted-handle selects the @handle of all the tweets that have been posted.
*/
.tweeted-handle {
  margin-right: 1em;
  font-weight: base.$handle-font-weight;
  color: base.$tweeted-container-accent;
}

/*
.tweeted-text selects the textarea element (which includes the actual tweet) of all the
tweets that have been posted.
*/
.tweeted-text {
  overflow: auto;
  border: none;
  outline: none;
  resize: none;
  color: base.$grey-accent;
  background-color: base.$general-background-color;
  border-bottom: solid 3px base.$grey-accent;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

/*
.tweeted-age selects the age of the tweet of all the tweets that have been posted.
*/
.tweeted-age {
  font-size: 0.6em;
  margin-left: 1em;
  color: base.$grey-accent;
}

/*
The selectors below select the flag, reshare, and heart icons of all the 
tweets that have been posted (and attaches the same color styling when
hovered over each of them).
*/
.fa-flag {
  color: base.$blue-accent;
}

.fa-retweet {
  margin-left: 0.5em;
  color: base.$blue-accent;
}

.fa-heart {
  margin-right: 0.75em;
  margin-left: 0.4em;
  color: base.$blue-accent;
}

.fa-flag:hover {
  color: base.$icon-hover-color;
}

.fa-retweet:hover {
  color: base.$icon-hover-color;
}

.fa-heart:hover {
  color: base.$icon-hover-color;
}