#profile-image {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#profile-name {
  color: white;
}

#main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  height: 400px;
  background-color: rgb(255, 136, 0); 
  background-image: url('../../images/cubes.png');
}

.last-name {
  font-weight: 100;
}
