#nav-logo {
  margin-left: 1.5em;
  font-family: 'Bungee', cursive, sans-serif;
}

#nav-write {
  margin-right: 1.5em;
}

#angle-double-down {
  margin-left: 3.5em;
  color: red;
}

.nav-section {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-top: 2em;
  z-index: 9;
  width: 100%;
  position: fixed;
  top: 0;
}