#tweet-button {
  font-family: 'Bungee', cursive, sans-serif;
  background-color: #4056A1;
  border: none;
  color: white;
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#character-tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-text {
  border: none;
  outline: none;
  resize: none;
  background-color: #f4f1ec;
  border-bottom: solid 3px rgb(94, 94, 94);
}

.new-tweet {
  width: 100%;
}

.counter {
  font-family: 'Bungee', cursive, sans-serif;
  color: rgb(94, 94, 94);
}

#new-tweet-question {
  font-weight: bold;
  color: rgb(94, 94, 94);
}